body{
    
    background-color: rgb(32, 31, 31);
    color: #fff;    
    margin:0px;
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;   
}
.container{
    padding-left:5%;
    padding-top: 80px; 
    
}
header{
    width:100%;
    margin-top:0;
    position: fixed;
    background-color: black;
    
}
nav{
    height: 75px;
    background-color: black;
    display:flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
   
}
.nav-items{
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;  
}
nav a{
    color:#fff;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
}
.main{
    margin-top:  70px;
    /* border:solid 2px red; */
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
    margin-bottom:  70px;
    
}
.welcome-box{  
    /* border: solid 2px ; */
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}
.welcome-message{
    padding-bottom:0;
    line-height: 20px;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 0px; 
    /* border: solid 2px red;  */
}

img{  
    height:300px;
    width: 350px;
    border-radius: 75%;
}
.image-container{ 
    display: flex;
    justify-content: center;
}
.Name-box{
    width: 100%;
    /* border:solid 1px yellow; */
    display: flex;
    justify-content: end;
    padding-right: 20%; 
}
#About,#Projects{
    margin-bottom:70px;
    padding-right: 50px; 
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff; 
    font-size: large;
    font-weight: 300;
    border-radius: 20px;
    width:250px;
    height:30px;
}
#About h2,#Projects h2{
    
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    /* border: solid 2px white; */
   
}

nav a:hover{
    transform: scale(1.1);
     transition-duration: 0.4s; 
    
}
@media (max-width: 840px) {
    .container{
        padding-left: 0px;
    }
    #About,#Projects{
        text-align: center;
    }
    .main{ 
        flex-direction: column;
    }
    .welcome-box{
        width:100%;
    }
    .welcome-message{      
        padding:0px;   
    }
    .Name-box{
        display:flex;
        justify-content: center;   
    }
    .image-container{
        width:100%;
    }
    .nav-items{
        display: none;
    }
    .Name-box{
        width:fit-content;
       padding: 0%;
        
    }
    #About p,#Projects p{
        padding-left: 0%;
    }
}
@media (max-width:450px) {
    .welcome-message{        
        font-size: small;       
    }
   
}
